.outer-button-container {
  width: 100%;
  height: 300px;
  padding-top: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: rise;
  animation-duration: 3s; }

.inner-button-container {
  width: 320px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.login-btn1 {
  animation: button-flicker1 6s linear infinite; }

.login-btn2 {
  animation: button-flicker1 10s linear infinite; }

.login-btn3 {
  animation: button-flicker1 4s linear infinite; }

.login-btn4 {
  animation: button-flicker1 1s linear infinite; }

.login-btn {
  font-size: 18px;
  font-family: 'goodTimes';
  color: #FF00E6;
  width: 300px;
  height: 66px;
  margin-top: 25px;
  border: 5px solid #1086e8;
  border-radius: 20px;
  background: black;
  text-align: center;
  line-height: 43px; }
  .login-btn:hover {
    cursor: pointer;
    border: 5px solid #FF00E6;
    animation: border-flicker-red 6s linear infinite; }
  .login-btn:focus {
    outline: none; }

.copyright {
  font-family: 'goodtimes';
  color: white;
  margin-top: 10px;
  text-align: center;
  font-size: 10px; }
