.header-outer-container {
  width: 100%;
  height: 66px;
  position: fixed;
  top: 10px;
  z-index: 100;
  animation-name: drop-in-header;
  animation-duration: 1s;
}

@keyframes drop-in-header {
	0% { top: -200px; }
	100% { top: 10px; }
}

.header-inner-container {
  width: 320px;
  height: 100%;
  background: black;
  margin: auto;
  position: relative;
  border:3px solid #1086e8;
  border-radius: 10px;
  border-style: inset;
  // animation: border-flicker1 10s linear infinite;
  box-shadow: 0px 0px 78px 4px #1086e8;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 78px 4px #FF00E6;
  }
}

.header-title {
  color: #FF00E6;
  font-family: 'shindig';
  background: none;
  position: absolute;
  top: 0px;
  left: 102px;
  font-size: 36px;
  transform: rotate(-12deg);
}

.menu-icon  {
  width: 44px;
  height: 50px;
  // background: red;
  position: absolute;
  top: 7px;
  right: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-bar {
  width: 100%;
  height: 5px;
  background: #1086e8;
  margin: 3px;
  border-radius: 5px;
  animation: border-flicker1 2s linear infinite;
}

.header-inner-container:hover .menu-bar {
  background: #FF00E6;
  animation: border-flicker1 2s linear infinite;
}
