
.event-input  {
  font-size: 14px;
  font-family: 'goodTimes';
  color: #FF00E6;
  width: 245px;
  height: 36px;
  margin-top: 16px;
  border: 3px solid #1086e8;
  border-radius: 20px;
  padding-left: 10px;
}

.event-input:focus  {
  outline: none;
}
