
.event-input  {
  font-size: 14px;
  font-family: 'goodTimes';
  color: #FF00E6;
  width: 245px;
  height: 28px;
  margin-top: 16px;
  border: 3px solid #1086e8;
  border-radius: 20px;
  padding-left: 10px;
  box-shadow: 0px 0px 25px 2px #1086e8;
}

.event-input:focus  {
  outline: none;
}

.error-message  {
  font-size: 14px;
  font-family: 'goodTimes';
  color: #FF00E6;
  text-align: center;
}
