@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

@keyframes drop-in {
	0% { top: -300px; }
	100% { top: 60px; }
}

@keyframes rise {
	0% { padding-top: 1400px; }
	100% { padding-top: 230px; }
}

@keyframes border-flicker2 {
  0% {
      box-shadow: 0px 0px 78px 4px #1086e8;
      opacity: .1;
    }
  2% {
      box-shadow: 0px 0px 20px 8px #1086e8;
      opacity: 1;
    }
  4% {
      box-shadow: 0px 0px 30px 12px #1086e8;
      opacity: .1;
    }
  8% {
      box-shadow: 0px 0px 60px 10px #1086e8;
      opacity: .7;
    }
  70% {
      box-shadow: 0px 0px 40px 5px #1086e8;
      opacity: 1;
      border-top:3px solid black;
    }
  100% {
      box-shadow: 0px 0px 30px 6px #1086e8;
      opacity: .7;
    }
}

@keyframes border-flicker1 {
  0% {
    opacity:0.1;
    box-shadow: 0px 0px 78px 4px #1086e8;
  }
  2% {
    opacity:1;
    box-shadow: 0px 0px 78px 4px #1086e8;
  }
  4% {
    opacity:0.1;
    box-shadow: 0px 0px 78px 4px #1086e8;
  }

  8% {
    opacity:1;
    box-shadow: 0px 0px 78px 4px #1086e8;
  }
  70% {
    opacity:0.7;
    box-shadow: 0px 0px 78px 4px #1086e8;
  }
  100% {
    opacity:1;
    box-shadow: 0px 0px 78px 4px #1086e8;
  }
}

@keyframes button-flicker1 {
  0% {
    opacity:0.7;
    box-shadow: 0px 0px 20px 2px #1086e8;
  }
  2% {
    opacity:1;
    box-shadow: 0px 0px 20px 2px #1086e8;
  }
  2% {
    opacity:0.7;
    box-shadow: 0px 0px 20px 2px #1086e8;
  }

  8% {
    opacity:1;
    box-shadow: 0px 0px 20px 2px #1086e8;
  }
  70% {
    opacity:0.7;
    box-shadow: 0px 0px 20px 2px #1086e8;
  }
  100% {
    opacity:1;
    box-shadow: 0px 0px 20px 2px #1086e8;
  }
}

@keyframes flicker3 {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  2% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  4% {
    opacity:1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  19% {
    opacity:1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  21% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  23% {
    opacity:1;
    text-shadow: 0px 0px 29px #FF00E6;
  }

  80% {
    opacity:1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  83% {
    opacity:0.4;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  87% {
    opacity:1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
}

@keyframes border-flicker-red {
  0% {
    // opacity:0.1;
    box-shadow: 0px 0px 78px 4px #FF00E6;
  }
  2% {
    // opacity:1;
    box-shadow: 0px 0px 78px 4px #FF00E6;
  }
  4% {
    // opacity:0.1;
    box-shadow: 0px 0px 78px 4px #FF00E6;
  }

  8% {
    // opacity:1;
    box-shadow: 0px 0px 78px 4px #FF00E6;
  }
  70% {
    // opacity:0.7;
    box-shadow: 0px 0px 78px 4px #FF00E6;
  }
  100% {
    // opacity:1;
    box-shadow: 0px 0px 78px 4px #FF00E6;
  }
}

@keyframes flicker1 {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #FF00E6;
  }

  2% {
    opacity:1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px #FF00E6;
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px #FF00E6;
  }

  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px #FF00E6;
  }

  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px #FF00E6;
  }

  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px #FF00E6;
  }
}

@keyframes flicker2 {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  2% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  4% {
    opacity:1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  19% {
    opacity:1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  21% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  23% {
    opacity:1;
    text-shadow: 0px 0px 29px #FF00E6;
  }

  80% {
    opacity:1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  83% {
    opacity:0.4;
    text-shadow: 0px 0px 29px #FF00E6;
  }
  87% {
    opacity:1;
    text-shadow: 0px 0px 29px #FF00E6;
  }
}
