* {
  box-sizing: 'border-box';
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'shindig';
  src: url("./assets/shindig.ttf"); }

@font-face {
  font-family: 'goodTimes';
  src: url("./assets/goodTimes.ttf"); }

@keyframes spin {
  from {
    transform: rotateY(0); }
  to {
    transform: rotateY(360deg); } }

@keyframes drop-in {
  0% {
    top: -300px; }
  100% {
    top: 60px; } }

@keyframes rise {
  0% {
    padding-top: 1400px; }
  100% {
    padding-top: 230px; } }

@keyframes border-flicker2 {
  0% {
    box-shadow: 0px 0px 78px 4px #1086e8;
    opacity: .1; }
  2% {
    box-shadow: 0px 0px 20px 8px #1086e8;
    opacity: 1; }
  4% {
    box-shadow: 0px 0px 30px 12px #1086e8;
    opacity: .1; }
  8% {
    box-shadow: 0px 0px 60px 10px #1086e8;
    opacity: .7; }
  70% {
    box-shadow: 0px 0px 40px 5px #1086e8;
    opacity: 1;
    border-top: 3px solid black; }
  100% {
    box-shadow: 0px 0px 30px 6px #1086e8;
    opacity: .7; } }

@keyframes border-flicker1 {
  0% {
    opacity: 0.1;
    box-shadow: 0px 0px 78px 4px #1086e8; }
  2% {
    opacity: 1;
    box-shadow: 0px 0px 78px 4px #1086e8; }
  4% {
    opacity: 0.1;
    box-shadow: 0px 0px 78px 4px #1086e8; }
  8% {
    opacity: 1;
    box-shadow: 0px 0px 78px 4px #1086e8; }
  70% {
    opacity: 0.7;
    box-shadow: 0px 0px 78px 4px #1086e8; }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 78px 4px #1086e8; } }

@keyframes button-flicker1 {
  0% {
    opacity: 0.7;
    box-shadow: 0px 0px 20px 2px #1086e8; }
  2% {
    opacity: 1;
    box-shadow: 0px 0px 20px 2px #1086e8; }
  2% {
    opacity: 0.7;
    box-shadow: 0px 0px 20px 2px #1086e8; }
  8% {
    opacity: 1;
    box-shadow: 0px 0px 20px 2px #1086e8; }
  70% {
    opacity: 0.7;
    box-shadow: 0px 0px 20px 2px #1086e8; }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 20px 2px #1086e8; } }

@keyframes flicker3 {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px #FF00E6; }
  2% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px #FF00E6; }
  4% {
    opacity: 1;
    text-shadow: 0px 0px 29px #FF00E6; }
  19% {
    opacity: 1;
    text-shadow: 0px 0px 29px #FF00E6; }
  21% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px #FF00E6; }
  23% {
    opacity: 1;
    text-shadow: 0px 0px 29px #FF00E6; }
  80% {
    opacity: 1;
    text-shadow: 0px 0px 29px #FF00E6; }
  83% {
    opacity: 0.4;
    text-shadow: 0px 0px 29px #FF00E6; }
  87% {
    opacity: 1;
    text-shadow: 0px 0px 29px #FF00E6; } }

@keyframes border-flicker-red {
  0% {
    box-shadow: 0px 0px 78px 4px #FF00E6; }
  2% {
    box-shadow: 0px 0px 78px 4px #FF00E6; }
  4% {
    box-shadow: 0px 0px 78px 4px #FF00E6; }
  8% {
    box-shadow: 0px 0px 78px 4px #FF00E6; }
  70% {
    box-shadow: 0px 0px 78px 4px #FF00E6; }
  100% {
    box-shadow: 0px 0px 78px 4px #FF00E6; } }

@keyframes flicker1 {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px #FF00E6; }
  2% {
    opacity: 1;
    text-shadow: 0px 0px 29px #FF00E6; }
  8% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px #FF00E6; }
  9% {
    opacity: 1;
    text-shadow: 0px 0px 29px #FF00E6; }
  12% {
    opacity: 0.1;
    text-shadow: 0px 0px #FF00E6; }
  20% {
    opacity: 1;
    text-shadow: 0px 0px 29px #FF00E6; }
  25% {
    opacity: 0.3;
    text-shadow: 0px 0px 29px #FF00E6; }
  30% {
    opacity: 1;
    text-shadow: 0px 0px 29px #FF00E6; }
  70% {
    opacity: 0.7;
    text-shadow: 0px 0px 29px #FF00E6; }
  72% {
    opacity: 0.2;
    text-shadow: 0px 0px 29px #FF00E6; }
  77% {
    opacity: .9;
    text-shadow: 0px 0px 29px #FF00E6; }
  100% {
    opacity: .9;
    text-shadow: 0px 0px 29px #FF00E6; } }

@keyframes flicker2 {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px #FF00E6; }
  2% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px #FF00E6; }
  4% {
    opacity: 1;
    text-shadow: 0px 0px 29px #FF00E6; }
  19% {
    opacity: 1;
    text-shadow: 0px 0px 29px #FF00E6; }
  21% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px #FF00E6; }
  23% {
    opacity: 1;
    text-shadow: 0px 0px 29px #FF00E6; }
  80% {
    opacity: 1;
    text-shadow: 0px 0px 29px #FF00E6; }
  83% {
    opacity: 0.4;
    text-shadow: 0px 0px 29px #FF00E6; }
  87% {
    opacity: 1;
    text-shadow: 0px 0px 29px #FF00E6; } }

/* cube container */
.outer-cube-container {
  position: absolute;
  width: 100%;
  top: 60px;
  z-index: 100;
  animation-name: drop-in;
  animation-duration: 3s; }

.inner-cube-container {
  margin: auto;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center; }

.pole {
  width: 28px;
  height: 400px;
  background-image: url(./assets/pole.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -307px;
  left: 134px; }

/* The Cube */
.cube-wrap {
  perspective: 800px;
  perspective-origin: 50% 100px; }

.cube {
  position: relative;
  width: 200px;
  transform-style: preserve-3d;
  animation: spin 30s infinite linear;
  animation-delay: 3s;
  transform: translate3d(0, 0, 0); }

.cube-face {
  position: absolute;
  width: 200px;
  height: 140px;
  background: black; }

.cube-background {
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  z-index: -1;
  border: 3px solid #1086e8;
  border-style: inset;
  transform: translate3d(0, 0, 0); }

.border-flicker1 {
  animation: border-flicker1 2s linear infinite; }

.border-flicker2 {
  animation: border-flicker2 1s linear infinite; }

.back {
  transform: translateZ(-100px) rotateY(180deg); }

.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right; }

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left; }

.top {
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top center; }

.bottom {
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center; }

.front {
  transform: translateZ(100px); }

.flicker3 {
  animation: flicker3 7s linear infinite; }

.flicker4 {
  animation: flicker2 4s linear infinite; }

h1 {
  color: #FF00E6;
  font-family: 'shindig';
  font-size: 60px;
  transform: rotate(-31deg);
  background: none;
  position: absolute;
  top: 19px;
  left: 24px; }

.flicker1 {
  animation: flicker1 8s linear infinite; }

.flicker2 {
  background: none;
  animation: flicker2 5s linear infinite; }

.header-outer-container {
  width: 100%;
  height: 66px;
  position: fixed;
  top: 10px;
  z-index: 100;
  animation-name: drop-in-header;
  animation-duration: 1s; }

@keyframes drop-in-header {
  0% {
    top: -200px; }
  100% {
    top: 10px; } }

.header-inner-container {
  width: 320px;
  height: 100%;
  background: black;
  margin: auto;
  position: relative;
  border: 3px solid #1086e8;
  border-radius: 10px;
  border-style: inset;
  box-shadow: 0px 0px 78px 4px #1086e8; }
  .header-inner-container:hover {
    cursor: pointer;
    box-shadow: 0px 0px 78px 4px #FF00E6; }

.header-title {
  color: #FF00E6;
  font-family: 'shindig';
  background: none;
  position: absolute;
  top: 0px;
  left: 102px;
  font-size: 36px;
  transform: rotate(-12deg); }

.menu-icon {
  width: 44px;
  height: 50px;
  position: absolute;
  top: 7px;
  right: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.menu-bar {
  width: 100%;
  height: 5px;
  background: #1086e8;
  margin: 3px;
  border-radius: 5px;
  animation: border-flicker1 2s linear infinite; }

.header-inner-container:hover .menu-bar {
  background: #FF00E6;
  animation: border-flicker1 2s linear infinite; }

.outer-drop-nav-container {
  width: 100%;
  position: absolute;
  top: 74px;
  z-index: 99;
  animation-name: drop-in-nav;
  animation-duration: 1s; }

.drop-nav-container {
  margin: auto;
  width: 300px;
  height: 300px;
  background: black;
  border: 3px solid #1086e8;
  border-radius: 10px;
  border-style: inset;
  box-shadow: 0px 0px 78px 4px #1086e8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.nav-drop {
  animation-name: drop-in-nav;
  animation-duration: 2s;
  top: 91px; }

@keyframes drop-in-nav {
  0% {
    top: -500px; }
  100% {
    top: 74px; } }

.nav-leave {
  animation-name: leave-nav;
  animation-duration: 2s;
  top: -500px; }

@keyframes leave-nav {
  0% {
    top: 91px; }
  100% {
    top: -500px; } }

.nav-btn {
  font-size: 14px;
  font-family: 'goodTimes';
  color: #FF00E6;
  width: 260px;
  height: 41px;
  margin-top: 10px;
  border: 3px solid #1086e8;
  border-radius: 20px;
  background: black;
  text-align: center;
  line-height: 33px;
  animation: button-flicker1 6s linear infinite; }
  .nav-btn:hover {
    cursor: pointer;
    border: 5px solid #FF00E6;
    animation: border-flicker-red 10s linear infinite; }
  .nav-btn:focus {
    outline: none; }

.background {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/backdrop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -100; }

.backdrop {
  width: 100%;
  height: 600px;
  position: relative;
  background-image: url("./assets/backdrop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.outer-button-container {
  width: 100%;
  height: 300px;
  padding-top: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: rise;
  animation-duration: 3s; }

.inner-button-container {
  width: 320px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.login-btn1 {
  animation: button-flicker1 6s linear infinite; }

.login-btn2 {
  animation: button-flicker1 10s linear infinite; }

.login-btn3 {
  animation: button-flicker1 4s linear infinite; }

.login-btn4 {
  animation: button-flicker1 1s linear infinite; }

.login-btn {
  font-size: 18px;
  font-family: 'goodTimes';
  color: #FF00E6;
  width: 300px;
  height: 66px;
  margin-top: 25px;
  border: 5px solid #1086e8;
  border-radius: 20px;
  background: black;
  text-align: center;
  line-height: 43px; }
  .login-btn:hover {
    cursor: pointer;
    border: 5px solid #FF00E6;
    animation: border-flicker-red 6s linear infinite; }
  .login-btn:focus {
    outline: none; }

.copyright {
  font-family: 'goodtimes';
  color: white;
  margin-top: 10px;
  text-align: center;
  font-size: 10px; }

.outer-drop-container {
  width: 100%;
  position: absolute;
  top: 95px;
  z-index: 99;
  animation-name: pref-drop-in-nav;
  animation-duration: 1s; }

.drop-login-container {
  margin: auto;
  width: 300px;
  height: 460px;
  background: black;
  border: 3px solid #1086e8;
  border-radius: 10px;
  border-style: inset;
  box-shadow: 0px 0px 78px 4px #1086e8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; }

@keyframes pref-drop-in-nav {
  0% {
    top: -500px; }
  100% {
    top: 95px; } }

.drop-in-title {
  font-size: 32px;
  position: absolute;
  top: 5px;
  font-family: 'shindig';
  color: #FF00E6;
  animation: flicker3 6s linear infinite; }

.user-title {
  left: 68px; }

.pref-title {
  left: 42px; }

.create-title {
  left: 70px; }

.preferences-container {
  margin-bottom: 10px; }

.prefernces-list {
  height: 260px;
  overflow: scroll;
  margin-top: 42px; }

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.checkbox {
  display: inline-block; }

.checkbox-label {
  font-size: 19px;
  display: inline-block;
  margin: 4px 0 4px 4px;
  font-family: 'goodTimes';
  color: #FF00E6; }

label:hover {
  cursor: pointer;
  text-shadow: 1px 1px 3px #FF00E6;
  color: #1086e8; }

input:checked ~ label {
  color: #1086e8; }

.event-input {
  font-size: 14px;
  font-family: 'goodTimes';
  color: #FF00E6;
  width: 245px;
  height: 24px;
  margin-top: 16px;
  border: 3px solid #1086e8;
  border-radius: 20px;
  padding-left: 10px;
  box-shadow: 0px 0px 25px 2px #1086e8; }

.event-description {
  font-size: 14px;
  font-family: 'goodTimes';
  color: #FF00E6;
  width: 245px;
  height: 60px;
  margin-top: 16px;
  border: 3px solid #1086e8;
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 5px;
  box-shadow: 0px 0px 25px 2px #1086e8; }
  .event-description:focus {
    outline: none; }

.event-input:focus {
  outline: none; }

.error-message {
  font-size: 10px;
  font-family: 'goodTimes';
  color: #FF00E6;
  text-align: center;
  margin-top: 35px; }

.user-name {
  font-size: 11px;
  font-family: 'goodTimes';
  color: #1086e8;
  color: #FF00E6;
  margin-bottom: 5px; }

.avatar-container {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  background-image: url("./assets/avatar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid #1086e8;
  animation: button-flicker1 6s linear infinite; }

.user-avatar {
  width: 100%;
  height: 100%;
  position: absolute; }

.map-container {
  width: 300px;
  height: 400px;
  position: relative;
  top: 100px;
  margin: auto;
  border-radius: 10px;
  border: 3px solid #1086e8;
  box-shadow: 0px 0px 36px 2px #1086e8;
  overflow: hidden;
  animation-name: map-drop;
  animation-duration: 1s;
  z-index: 99; }

@keyframes map-drop {
  0% {
    top: -500px; }
  100% {
    top: 100px; } }

.map {
  width: 300px;
  height: 400px;
  position: absolute;
  z-index: 1; }

.outer-display-pref-container {
  width: 100%;
  position: absolute;
  top: 125px;
  z-index: 98;
  animation-name: pref-drop-in-pref;
  animation-duration: 3s; }

.drop-display-pref-container {
  margin: auto;
  width: 300px;
  padding-bottom: 15px;
  background: black;
  border: 3px solid #1086e8;
  border-radius: 10px;
  border-style: inset;
  box-shadow: 0px 0px 78px 4px #1086e8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; }

@keyframes pref-drop-in-pref {
  0% {
    top: -1000px; }
  100% {
    top: 125px; } }

.display-pref-title {
  font-size: 32px;
  text-align: center;
  font-family: 'shindig';
  color: #FF00E6;
  animation: flicker3 6s linear infinite; }

.pref-container {
  width: 90%;
  max-height: 300px;
  overflow: scroll;
  font-size: 20px;
  text-align: center;
  font-family: 'goodTimes';
  color: #FF00E6;
  animation: flicker3 10s linear infinite; }
